//Colours:
$gray-light: #f7f7f7;
$gray-medium: #c7c7c7;
$primary: #2a85b3;
$secondary: #5bb3df;

$border-color: $gray-light;
// Sizes:
$space: 10px;
$basic-height: 60px;

// Typo
$font-size: 14px;
$font-size-sm: 12px;
